@page
@model MarcusCarRentals.Pages.AdminUser.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="/css/AdminUserDetails.css"/>

<h1 class="page-title">Details</h1>

<div class="user-details-container">
    <h4 class="section-title">User</h4>
    <hr class="section-divider" />
    <dl class="row">
        <dt class="col-sm-2 label">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2 label">
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt class="col-sm-2 label">
            @Html.DisplayNameFor(model => model.User.IsAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.IsAdmin)
        </dd>
    </dl>
</div>
<div class="action-links">
    <a asp-page="./Edit" asp-route-id="@Model.User?.UserId" class="edit-link">Edit</a> |
    <a asp-page="./Index" class="back-link">Back to List</a>
</div>