@page
@model MarcusCarRentals.Pages.UserOrders.DisplayOrdersModel
@{
}
<link rel="stylesheet" href="~/css/OrderView.css" asp-append-version="true" />
<h2 class="section-heading">Dina ordrar</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["OrderDeleted"] != null)
{
    <div class="alert-danger" role="alert">
        @TempData["OrderDeleted"]
    </div>
}

@if (Model != null)
{
    <section class="order-section">
        <h3>Aktiva ordrar:</h3>
        <table class="order-table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Startdatum</th>
                    <th>Slutdatum</th>
                    <th>Bilmärke</th>
                    <th>Modell</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.ActiveOrders)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.StartDate.ToString("yyyy-MM-dd")</td>
                        <td>@order.EndDate.ToString("yyyy-MM-dd")</td>
                        <td>@order.Car.Brand</td>
                        <td>@order.Car.Model</td>
                        <td>
                            <div class="action-link">
                                <a asp-page="/UserOrders/Delete" asp-route-id="@order.OrderId" asp-route-carId="@order.Car.CarId" asp-route-userId="@HttpContext.Session.GetInt32("UserId")">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h3>Tidigare ordrar:</h3>
        <table class="order-table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Startdatum</th>
                    <th>Slutdatum</th>
                    <th>Bilmärke</th>
                    <th>Modell</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.PastOrders)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.StartDate.ToString("yyyy-MM-dd")</td>
                        <td>@order.EndDate.ToString("yyyy-MM-dd")</td>
                        <td>@order.Car.Brand</td>
                        <td>@order.Car.Model</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}
else
{
    <p>No orders found for this user.</p>
}