@page
@model MarcusCarRentals.Pages.AdminCar.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="/css/CarDetails.css" />

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="car-details-container">
    <dl class="car-details row">
        <dt class="col-sm-2 car-label">
            @Html.DisplayNameFor(model => model.Car.Brand):
        </dt>
        <dd class="col-sm-10 car-info">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>

        <dt class="col-sm-2 car-label">
            @Html.DisplayNameFor(model => model.Car.Model):
        </dt>
        <dd class="col-sm-10 car-info">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>

        <dt class="col-sm-2 car-label">
            @Html.DisplayNameFor(model => model.Car.Year):
        </dt>
        <dd class="col-sm-10 car-info">
            @Html.DisplayFor(model => model.Car.Year)
        </dd>

        <dt class="col-sm-2 car-label">
            @Html.DisplayNameFor(model => model.Car.Description):
        </dt>
        <dd class="col-sm-10 car-info">
            @Html.DisplayFor(model => model.Car.Description)
        </dd>

        <dt class="col-sm-2 car-label">
            @Html.DisplayNameFor(model => model.Car.Price):
        </dt>
        <dd class="col-sm-10 car-info">
            @Html.DisplayFor(model => model.Car.Price):-/Dygn
        </dd>
    </dl>
</div>
    
    <form method="post">
        <input type="hidden" asp-for="Car.CarId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
