@page
@model MarcusCarRentals.Pages.AdminCar.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="/css/CarDetails.css" />

<h1 class="details-header">Details</h1>

<div class="car-details-container">
    <dl class="car-details row">
        <img src="@Model.GetImage(Model.Car.Brand)" class="car-image" />

        <dt class="col-sm-2 car-label">
            @Html.DisplayNameFor(model => model.Car.Brand):
        </dt>
        <dd class="col-sm-10 car-info">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>

        <dt class="col-sm-2 car-label">
            @Html.DisplayNameFor(model => model.Car.Model):
        </dt>
        <dd class="col-sm-10 car-info">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>

        <dt class="col-sm-2 car-label">
            @Html.DisplayNameFor(model => model.Car.Year):
        </dt>
        <dd class="col-sm-10 car-info">
            @Html.DisplayFor(model => model.Car.Year)
        </dd>

        <dt class="col-sm-2 car-label">
            @Html.DisplayNameFor(model => model.Car.Description):
        </dt>
        <dd class="col-sm-10 car-info">
            @Html.DisplayFor(model => model.Car.Description)
        </dd>

        <dt class="col-sm-2 car-label">
            @Html.DisplayNameFor(model => model.Car.Price):
        </dt>
        <dd class="col-sm-10 car-info">
            @Html.DisplayFor(model => model.Car.Price):-/Dygn
        </dd>
    </dl>
</div>

<div class="action-buttons">
    <a asp-page="./Edit" asp-route-id="@Model.Car?.CarId">Edit</a>
    <a asp-page="./Index" class="back-button">Tillbaka</a>
</div>
