@page
@model MarcusCarRentals.Pages.AdminCar.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="/css/IndexPageStyle.css"/>

<p class="create-link">
    <a asp-page="Create">Create New</a>
</p>
<div class="text-center">

    <div class="grid-container">
        @foreach (var item in Model.Cars)
        {
            <div class="grid-item">
                <img src="@Model.GetImage(item.Brand)" />
                <div class="grid-item-info">
                    <div class="brand-model">
                        <p>
                            @Html.DisplayFor(modelItem => item.Brand) @Html.DisplayFor(modelItem => item.Model)
                        </p>
                    </div>
                    <p class="grid-item-prop">
                        Pris: @Html.DisplayFor(modelItem => item.Price):-/Dygn
                    </p>
                    <p class="car-link">
                        <a asp-page="./Edit" asp-route-id="@item.CarId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.CarId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.CarId">Delete</a>
                    </p>
                </div>
            </div>
        }
    </div>
</div>
