@page
@model MarcusCarRentals.Pages.Login.LoginModel
@{
}
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <div class="login-container">
        <h1>Login</h1>
        <div class="form-group">
            <div class="login-field">
                @Html.TextBoxFor(m => m.Email, new {placeholder = "E-mail" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="login-field">
                @Html.PasswordFor(m => m.Password, new {placeholder = "Password"})
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="login-buttons-container">
                <button type="button" onclick="location.href='@Url.Page("/UserRegister/Create")'" class="register-button">Register</button>
                <button type="submit" value="Login" class="login-button">Log in</button>
            </div>
        </div>
    </div>
}
